---
---

{% if site.darkmode %}
@import 'darkmode';
{% endif %}

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: {{ site.color.header | default: "#FBFFFF" }} !default;
$header-bg-color: {{ site.color.gradient_right | default: "#008DFF" }} !default;
$header-bg-color-secondary: {{ site.color.gradient_left | default: "#9C2E35" }} !default;

// Text
$section-headings-color: {{ site.color.section_title | default: site.color.gradient_right | default: "#FBFFFF" }} !default;
$body-text-color: #FFC08C !default;
$body-link-color: {{ site.color.link | default: site.color.gradient_left | default: "#FFF000" }} !default;
$blockquote-text-color: #114479 !default;


//neon

.neontext {
  color: #f5f;
  text-shadow:
    0 0 7px #f5f,
    0 0 10px #f5f,
    0 0 21px #f5f,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}






$background-color: #114479;
$headline-color: #114479;
*{
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	background: $background-color;
}
header.header{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	h1{
		font-size: 8rem;
		color: $headline-color;
		text-align: center;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 900;
	}
}



$background-color: #0A053A;
$headline-color: #222222;
*{
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	background: $background-color;
}
header.header{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	h1{
		font-size: 8rem;
		color: $headline-color;
		text-align: center;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 900;
	}
}
.glitch-window{
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	color: $headline-color;
	text-shadow: 2px 0 $background-color, -1px 0 yellow, -2px 0 green;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;
	// background: red;
}

//Animation Keyframes
@keyframes crt-me {
	 0% {
        clip: rect(31px, 9999px, 94px, 0)
    }
    10% {
        clip: rect(112px, 9999px, 76px, 0)
    }
    20% {
        clip: rect(85px, 9999px, 77px, 0)
    }
    30% {
        clip: rect(27px, 9999px, 97px, 0)
    }
    40% {
        clip: rect(64px, 9999px, 98px, 0)
    }
    50% {
        clip: rect(61px, 9999px, 85px, 0)
    }
    60% {
        clip: rect(99px, 9999px, 114px, 0)
    }
    70% {
        clip: rect(34px, 9999px, 115px, 0)
    }
    80% {
        clip: rect(98px, 9999px, 129px, 0)
    }
    90% {
        clip: rect(43px, 9999px, 96px, 0)
    }
    100% {
        clip: rect(82px, 9999px, 64px, 0)
    }
    
}



//Inspiration Button
.inspiration-button{
	font-family: Helvetica, sans-serif;
	position: fixed;
	display: inline-block;
	z-index: 100;
	bottom: 1rem;
	left: 50%;
	transform: translate(-50%, 0%);
	color: white;
	text-decoration: none;
	padding: 0.75rem 1rem;
	border-radius: 80px;
	background: linear-gradient(270deg,#CC5A00,#FF0303);
	//From Instagram...thanks
	transition: transform 250ms ease;
	&:hover, &:focus, &:active{
		transform: translate(-50%, -10%);

	}
}



//efecto

.imagen:hover {filter: opacity(.5);}


// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;


// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import 'jekyll-theme-cayman';

{% if site.logo_url %}
.project-name::before {
    content: " ";
    display: inline-block;
  	&:hover, &:focus, &:active{
		transform: translate(-50%, -10%);

  width: 0.9em;
    height: 0.9em;
    padding-right: 0.5em;
    vertical-align: middle;
    background: url("{{site.logo_url}}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
{% endif %}

{% if site.hide_first_title %}
    .main-content h1:first-child { display: none; }
{% endif %}
